html, body {
  background-color:  #222326;
}

.heading {
      text-align: center;
      color: white;
      font-family: 'Finger Paint', sans-serif;
      font-size: 50px;
      margin-top: 75px;
    }
    
.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.cell, .cell-p1, .cell-p2 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  opacity: .75;
  background-color:#84bd00;
  box-shadow: 2px 2px 0px #888888;
  transition: all 0.2s;
  cursor: pointer;
}

.cell-p1 {
  background-color: white;
  cursor: default;
}

.cell-p2 {
  background-color: #000000;
  cursor: default;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 2em;
  color: white;
}
.announcement button {
  height: 50px;
  width: 100px;
  font-size: 0.5em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: purple;
}
